.pyc

.idea/.name

.idea/encodings.xml

.idea/flask_progect.iml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

.idea/dataSources.ids

.idea/dataSources.local.xml

.idea/dataSources.xml

*.pyc




.idea/dictionaries/studyblue.xml
