<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>Test Flask App</title>
  </head>
<body>

<br>
<b>Yo! Enter your credentials:</b>
<br>
<br>
<br>
<form method="POST">
                Username: <input type="text" name="username"/><br/>
<br>
                Password: <input type="password" name="password"/><br/>
<br>
                <input type="submit" value="Log in"/>
<br>
<br>
                <label><input type="checkbox" id="cbox1" value="List All Users"/>  Do you wanna list all users?</label>

            </form>
<br>
<br>
<br>
</body>

</html>